@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './style/mixin';

html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body * {
	font-family: "Noto Sans KR", sans-serif;
}
body {
	height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, u {
  text-decoration: none;
  outline: none;
  &:hover, &:active {
    text-decoration: none;
    // color:#fff;
    // background-color:#f59000;
  }
}

#root {
	height: 100vh;
}

/* custum text */
$textS: 1rem;
$textLineS: 1.25rem;

$textM: 1.25rem;
$textLineM: 1.5rem;

$textL: 1.5rem;
$textLineL: 1.7rem;

.text--sm {
	font-size: $textS !important;
	line-height: $textLineS !important;

	@include XS2 {
		font-size: $textS - 0.5rem !important;
		line-height: $textLineS - 0.55rem !important;
	}
	@include XS {
		font-size: $textS - 0.3rem !important;
		line-height: $textLineS - 0.35rem !important;
	}
	@include S {
		font-size: $textS - 0.2rem !important;
		line-height: $textLineS - 0.25rem !important;
	}
}

.text--md {
	font-size: $textM !important;
	line-height: $textLineM !important;

	@include XS2 {
		font-size: $textM - 0.65rem !important;
		line-height: $textLineM - 0.5rem !important;
	}
	@include XS {
		font-size: $textM - 0.35rem !important;
		line-height: $textLineM - 0.3rem !important;
	}
	@include S {
		font-size: $textM - 0.25rem !important;
		line-height: $textLineM - 0.2rem !important;
	}
}

.text--lg {
	font-size: $textL !important;
	line-height: $textLineL !important;

	@include XS2 {
		font-size: $textL - 0.5rem !important;
		line-height: $textLineL - 0.5rem !important;
	}
	@include XS {
		font-size: $textL - 0.3rem !important;
		line-height: $textLineL - 0.3rem !important;
	}
	@include S {
		font-size: $textL - 0.2rem !important;
		line-height: $textLineL - 0.2rem !important;
	}
}

.box-xs {
	width: 25px;
	height: 25px;
	@include XS2 {
		width: 18px;
		height: 18px;
	}
	@include XS {
		width: 20px;
		height: 20px;
	}
}

.box-md {
	width: 40px;
	height: 40px;
	@include XS2 {
		width: 20px;
		height: 20px;
	}
	@include XS {
		width: 28px;
		height: 28px;
	}
	@include S {
		width: 30px;
		height: 30px;
	}
}
