@import './style/mixin.scss';
// 노란계열
// fefe78
// fea52d

// 강조색
// 중 - ff8e2e
// 강 - f44412
// ca360e

$footerH: 120px;
.main-container {
	min-height: calc(100% - 50px);
	padding-bottom: $footerH;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $footerH;
  margin-top: -$footerH !important;
}

.text-xs2 {
	font-size: 0.5rem;
  line-height: 0.75rem;
}

.gitgub-a {
	&:hover {
    text-decoration: underline;
	}
}
