@import '../style/mixin';
header {
	height: 50px;
	background-color: #ff8e2e;
}

nav {
	width: 100%;
	height: 100%;
	margin: auto !important;
	max-width: 1000px;
}

ul {
	height: 100%;
	list-style:none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
  align-items: center;

	li {
		position: relative;
		flex: 0 1 0;
		// flex-grow: 0;
		// flex-shrink: 1;
		// flex-basis: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 20px;
		color: white;
		padding-bottom: 0;

		.depth2 {
			display: none;
			position: absolute;
			width: 100px;
			height: 40px;
			top: 100%;
			text-align: center;
			background-color: #fea52d;
		}

		& > a {
			padding-top: 13px;
			padding-bottom: 13px;
		}

		&:hover {
			padding-bottom: -5px;
			border-bottom: 5px solid #f44412;
			& > a {
				color: #ca360e;
				padding-top: 13px;
				padding-bottom: 8px;
				& + .depth2 {
					display: inline-block;
					color: white;
				}
			}
		}
	}
}
