@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
	@apply shadow-lg mb-5 sm:m-5 w-full p-5;
}

.h-loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 999;
}

.btn-normal {
	@apply transition-colors focus:outline-none;
}

.btn-base {
	@apply bg-blue-500 hover:bg-blue-400 text-white p-3 rounded-xl transition-colors focus:outline-none;
}

.btn-primary {
	@apply text-white border border-orange-400 bg-orange-400 hover:bg-orange-500 transition-colors focus:outline-none;
}

.m-0\.1 {
	margin: 0.05rem;
}
